[submodule "FloatingIslandsDemo"]
	path = FloatingIslandsDemo
	url = https://github.com/mrlev/FloatingIslandsDemo
[submodule "platform-3d"]
	path = platform-3d
	url = https://github.com/crystal-bit/platform-3d
[submodule "Godot_4.0_Horror_Character_Controller"]
	path = Godot_4.0_Horror_Character_Controller
	url = https://github.com/Jairus04/Godot_4.0_Horror_Character_Controller
[submodule "strafer"]
	path = strafer
	url = https://github.com/ic3bug/strafer
[submodule "craftgd"]
	path = craftgd
	url = https://github.com/Lightnet/craftgd
[submodule "godot-FirstPersonStarter"]
	path = godot-FirstPersonStarter
	url = https://github.com/Whimfoome/godot-FirstPersonStarter
[submodule "godot-4-3d-third-person-controller"]
	path = godot-4-3d-third-person-controller
	url = https://github.com/gdquest-demos/godot-4-3d-third-person-controller
[submodule "phantom-camera"]
	path = phantom-camera
	url = https://github.com/ramokz/phantom-camera
[submodule "godot_fps_test"]
	path = godot_fps_test
	url = https://github.com/cesko/godot_fps_test
[submodule "Godot-Text-Database"]
	path = Godot-Text-Database
	url = https://github.com/KoBeWi/Godot-Text-Database
[submodule "godot-awesome-splash"]
	path = godot-awesome-splash
	url = https://github.com/duongvituan/godot-awesome-splash
[submodule "protongraph"]
	path = protongraph
	url = https://github.com/protongraph/protongraph
[submodule "Libre-TrainSim"]
	path = Libre-TrainSim
	url = https://github.com/Libre-TrainSim/Libre-TrainSim
[submodule "Godot-4-HTTPManager"]
	path = Godot-4-HTTPManager
	url = https://github.com/D2klaas/Godot-4-HTTPManager
[submodule "godot-3D-shooter-project"]
	path = godot-3D-shooter-project
	url = https://github.com/kdreese/godot-3D-shooter-project
[submodule "MX_Zeta"]
	path = MX_Zeta
	url = https://github.com/Umanarav/MX_Zeta
[submodule "backrooms"]
	path = backrooms
	url = https://github.com/zodywoolsey/backrooms
[submodule "EcoTribu"]
	path = EcoTribu
	url = https://github.com/nikixos/EcoTribu
[submodule "Godot-4-Overgrown-Subway-Demo"]
	path = Godot-4-Overgrown-Subway-Demo
	url = https://github.com/mikatomik/Godot-4-Overgrown-Subway-Demo
[submodule "Abandoned-Spaceship-Godot-Demo"]
	path = Abandoned-Spaceship-Godot-Demo
	url = https://github.com/perfoon/Abandoned-Spaceship-Godot-Demo
[submodule "godot_updated_fps_controller"]
	path = godot_updated_fps_controller
	url = https://github.com/GarbajYT/godot_updated_fps_controller
